- var production = 'pro' == process.env.NODE_ENV 

html(lang='eng')  
  head    
    title My hangout
    link(rel="stylesheet", href="public/styles/main.css")
  body
    #react-app
    script(id="initial-state", type="application/json") #{initialState}
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='public/js/bundle.js')
