html(lang='eng')
  head    
    title My hangout
  body
    h1 login
    form(action="/gg", method="post")
      label Username
      input(type='text', name="username", value="", id="username")
      button(type="submit") Login
