html(lang='eng')
  head    
    title My hangout
  body
    h1 login
    form()
      label Username
      input(type='text', name="username", value="", id="username")
      button(type="submit") Login
    //script(src='https://code.jquery.com/jquery-2.1.3.min.js')
    div Users
    table
      thead
        tr
          th Username
          th friends
        tr
      tbody
        tr
          td yo
          td dude, someone else
        tr
          td dude
          td yo
        tr
          td someone else
          td yo
    script(src='/public/js/jquery.js')
    script(src='/public/js/login.js')