body
  font-family: arial, sans-serif

.break-text
  -ms-word-break: break-all
  word-break: break-all
  -webkit-hyphens: auto
  -moz-hyphens: auto
  hyphens: autos

.clear-list
  list-style: none
  margin: 0 0
  padding: 0 0

.pull-left
  float: left
.pull-right
  float: right
.same-line
  display: inline-block
.clickable
  cursor: pointer
.hide
  display: none
.text-right
  text-align: right
.text-left
  text-align: left

status-size = 10px

.friend-list
  
  .friend-block
    background-color: black
    padding: 8px 4px
    width: 150px
    font-size: 14px
    overflow: hidden
    &:hover
      background-color: gray
    .picture-wrapper
      position: relative
      .picture
        background-color: yellow
        border-radius: 50%
        height: 28px
        width: 28px
      .status
        border-radius: 50%
        bottom: -3px
        height: status-size
        position: absolute
        right: -3px
        width: status-size
      .online
        background-color: #35ac19
      .offline
        background-color: red
    .name
      color: white
      font-weight: bold
      padding-left: 10px
    .last-msg
      color: white
      opacity: .6
      padding-left: 10px

.chat-manager
  bottom: 0
  position: absolute
  right: 0
  li
    margin: 0 5px
  .chat-block
    background-color: rgba(0,0,0,.2)
    border: 1px solid black
    font-size: 1em
    height: 380px
    width: 250px
    .title
      background-color: #404040
      padding: 4px 15px
      overflow: hidden
      .options
        color: white
      .receiver
        color: white
        max-width: 150px
        overflow: hidden
    .messages-wrapper
      height: 315px
      margin-top: 5px;
      overflow-x: hidden;
      overflow-y: auto;
      ul
        min-height: 290px
        .space-msg
          margin-top: 10px
        .msg-text
          background-color: white
          padding: 0 10px
      .writting-status
        color: red
        min-height: 18px
    .form-msg
      bottom: 0
      margin-bottom: 0
      position: absolute
      input
        width: 250px
        padding: 8px 10px